@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* dark  */
  --bg: rgb(20, 22, 36);
  --bg-90: rgba(36, 37, 41, 0.9);
  --bg-muted: rgb(30, 33, 56);
  --gray: rgb(177, 173, 196);
  --gray-purple: rgb(202, 202, 229);
  --black: rgb(26, 26, 11);
  --black-muted: rgb(54, 53, 56);
  --white: rgb(253, 242, 226);
  --white-muted: rgb(196, 190, 186);
  --accent: rgb(255, 241, 133);
  --red: red;
  --green: green;
  --orange: rgb(238, 175, 85);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--white-muted);
  background-color: var(--bg-muted);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
